.segment {
  display:inline-flex;
  flex-flow: row;
  width:auto;
}

.highlight {
  /* background-color:yellow!important; */
  background: linear-gradient(hsl(0, 0%, 100%), hsl(228, 100%, 84%));  
}

.segment:hover {
  background-color: rgba(228, 215, 168, 1);
}
